html {
  --s: 50px; /* control the size*/
  --c1: #07325f;
  --c2: #080f26;
  
  --_g1: 
    var(--c1)   calc(25%/3) ,#0000 0 calc(50%/3),
    var(--c1) 0 25%         ,#0000 0 75%,
    var(--c1) 0 calc(250%/3),#0000 0 calc(275%/3),
    var(--c1) 0;
  --_g2: 
    #0000   calc(25%/3) ,var(--c1) 0 calc(50%/3),
    #0000 0 calc(250%/3),var(--c1) 0 calc(275%/3),
    #0000 0;
  background:
    linear-gradient( 45deg,var(--_g2)),linear-gradient( 45deg,var(--_g1)),
    linear-gradient(-45deg,var(--_g2)),linear-gradient(-45deg,var(--_g1))
    var(--c2); /* second color */
  background-position: 0 0,var(--s) var(--s);
  background-size: calc(2*var(--s)) calc(2*var(--s));
}
body {
    color:white;
    font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}
#mainHeader {
font-size: 36px;
}
#contributions {
  display: flexbox;
  float:right;
  background-color: rgba(255, 255, 255, 0.25);
  padding:12px;
  border-radius: 8px;
}
#cam {
  webkit-text-stroke: 2px white;
  color:black;
  display:flexbox;
  float:left;
  background-color: rgba(255, 255, 255, 0.5);
  padding:12px;
  border-radius: 8px;
  text-align: center;
}

.camimg {
  outline: 4px solid gray;
  padding:0px;
  border-radius: 2px;
}